* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --black: #000000;
    --red: #ed1c24;
    --white: #FFFFFF;
}

/* Header Starts */
header {
    background-color: var(--black);
}

.header-pdiv-ch1 img {
    width: 180px;
}

.header-pdiv-ch2 ul {
    list-style: none;
    width: 100%;
    gap: 20px;
}

.header-pdiv-ch2 ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
}

.bars {
    display: none;
}

#franchise {
    padding: 10px 8px;
    border: 1px solid var(--white);
    border-radius: 30px;
}

#franchise a {
    font-size: 1.4rem;
}

#order-online a {
    font-size: 1.4rem;
}

#order-online {
    padding: 10px 8px;
    background-color: var(--red);
    border-radius: 30px;
}

.right-arrow-span {
    padding: 5px 9px;
    border-radius: 30px;
    background-color: var(--white);
    color: red;
}

/* Header Ends */

/* Body Starts */

main {
    width: 100%;
}

.body-div1 img {
    width: 100%;
    height: 100%;
}

/* Body Ends */

/* Media Queries Start */

@media(max-width:1024px) {
    .header-pdiv-ch1 img {
        width: 200px;
    }

    .header-pdiv-ch2 ul li {
        display: none;
    }

    .header-pdiv-ch2 ul li a {
        display: none;
    }

    #franchise {
        display: none;
    }

    #order-online {
        display: block;
        padding: 20px 25px;
    }

    #order-online a {
        display: block;
    }

    .bars {
        display: block;
        color: var(--white);
        font-size: 3rem;
    }
}

@media(max-width:768px) {
    .header-pdiv-ch1 img {
        width: 170px;
    }

    .header-pdiv-ch2 ul li {
        display: none;
    }

    .header-pdiv-ch2 ul li a {
        display: none;
    }

    #franchise {
        display: none;
    }

    #order-online {
        display: block;
        padding: 20px 25px;
    }

    #order-online a {
        display: block;
    }

    .bars {
        display: block;
        color: var(--white);
        font-size: 3rem;
    }
}

@media(max-width:640px) {
    .header-pdiv-ch1 img {
        width: 130px;
    }

    .header-pdiv-ch2 ul li {
        display: none;
    }

    .header-pdiv-ch2 ul li a {
        display: none;
    }

    #franchise {
        display: none;
    }

    #order-online {
        display: block;
        padding: 10px 8px;

    }

    #order-online a {
        display: block;
        font-size: 1.3rem;
    }

    .bars {
        display: block;
        color: var(--white);
        font-size: 3rem;
    }
}

/* Media Queries End */